{% extends 'website/base/base_page.html' %}
{% load static %}
{% block links %}

{% endblock %}
{% block script %}
    <script src="{% static 'js/image_preview.js' %}"></script>
{% endblock %}
{% block title %}Редактирование профиля{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="e-profile">
                <form action="{% url 'website:update_profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-sm-auto mb-3">
                            <div class="mx-auto" style="width: 140px;">
                                <img alt="" id="{{ profile_form.photo.id_for_label }}_preview"
                                     class="profile_thumbnail"
                                     src="/media/{{ profile_form.photo.value }}">
                            </div>
                        </div>
                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ user.first_name }} {{ user.last_name }}</h4>
                                <p class="mb-0">{{ user.username }} {{ profile_form.photo.path }}</p>
                                <div class="text-muted">
                                    <small>{{ user.email }}</small>
                                </div>
                                <div class="mt-2">
                                    <div class="upload-btn-wrapper">
                                        <input type="file" class="custom-file-upload" accept="image/*"
                                               name="{{ profile_form.photo.name }}"
                                               id="{{ profile_form.photo.id_for_label }}">
                                        <label for="{{ profile_form.photo.id_for_label }}"
                                               id="change_photo" class="btn btn-primary custom-file-upload-btn">
                                            <i class="fa fa-fw fa-camera"></i>
                                            Сменить фото
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center text-sm-right">
                                <span class="badge badge-secondary">{{ role }}</span>
                                <div class="text-muted">
                                    <small>Дата регистрации: {{ user.date_joined }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content pt-3">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Имя</label>
                                                <input class="form-control" type="text"
                                                       name="{{ user_form.first_name.name }}"
                                                       id="{{ user_form.first_name.id_for_label }}"
                                                       value="{{ user_form.first_name.value }}">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Фамилия</label>
                                                <input class="form-control" type="text"
                                                       name="{{ user_form.last_name.name }}"
                                                       id="{{ user_form.last_name.id_for_label }}"
                                                       value="{{ user_form.last_name.value }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <div class="form-group">
                                                <label>О себе</label>
                                                <textarea class="form-control" rows="5"
                                                          name="{{ profile_form.description.name }}"
                                                          id="{{ profile_form.description.id_for_label }}">{{ profile_form.description.value }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                        </div>
                    </div>
                    {% for field in profile_form %}
                        {{ field.errors }}
                    {% endfor %}
                </form>
                <hr/>
                <form method="post" action="{% url 'website:change_password' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-3">
                            <div class="mb-2" style="font-size: 20px"><b>Сменить пароль</b></div>
                            {% for password_field in password_form %}
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            {{ password_field.label_tag }}
                                            <input class="form-control" type="password" name="{{ password_field.name }}"
                                                   id="{{ password_field.id_for_label }}">
                                            {% if password_field.errors %}
                                                <p class="error-text">{{ password_field.errors.0 }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                            <div class="mb-2" style="font-size: 20px"><b>Действия с аккаунтом</b></div>
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="btn btn-danger" role="button">Удалить аккаунт</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Изменить пароль</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}