{% extends 'website/base/base_page.html' %}
{% load static %}
{% block title %}{% if user.id == profile.id %}Мой профиль{% else %}Профиль пользователя {{ profile.username }}
{% endif %}{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="e-profile">
                <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                        <div class="mx-auto" style="width: 140px;">
                            <img alt="" id="profile_avatar"
                                 class="profile_thumbnail"
                                 src="/media/{{ profile.custom_user.photo }}">
                        </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                        <div class="text-sm-left mb-2 mb-sm-0">
                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ profile.first_name }} {{ profile.last_name }}</h4>
                            <p class="mb-0">{{ profile.custom_user.user.email }}</p>
                        </div>
                        <div class="text-center text-sm-right">
                            <span class="badge badge-secondary">{{ role }}</span>
                            <div class="text-muted">
                                <small>Дата регистрации: {{ profile.date_joined }}</small>
                            </div>
                            {% if user.id == profile.id %}
                                <div class="col d-flex justify-content-end" style="margin: 10px">
                                    <a class="btn btn-primary" href="{% url 'website:update_profile' %}">Редактировать
                                        профиль</a>
                                </div>
                                <div class="col d-flex justify-content-end" style="margin: 10px">
                                    <a class="btn btn-primary" href="{% url 'logout' %}">Выйти</a>
                                </div>
                            {% else %}
                                <div class="col d-flex justify-content-end" style="margin-top: 30px">
                                    <a class="btn btn-primary" href="{% url 'website:user_definitions' profile.id %}">Определения
                                        пользователя ({{ definition_number }})</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-4 text-sm-left" style="padding: 0">
                    <p class="text-center mb-0 user-rating">Рейтинг пользователя: {{ rating }}</p>
                    {% if user.id == profile.id and not user.custom_user.update_status and user.custom_user.is_ready_to_update %}
                        <a class="btn btn-warning" style="margin-top: 10px; width: 352.6px"
                           href="{% url 'website:create_request_for_update_status' %}">Повысить уровень
                            профиля &nbsp <i class="fa fa-eject"></i></a>
                    {% endif %}
                </div>
                <div class="tab-content pt-3">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col col-sm-auto mb-3">
                                <div class="mb-2" style="font-size: 20px"><b>О себе</b></div>
                                <div class="mb-2">{{ profile.custom_user.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if user.id != profile.id and user.custom_user.is_admin %}
                    {% if profile.custom_user.is_block %}
                        <form>
                            <input type="submit" class="btn btn-primary" value="Разблокировать">
                        </form>
                    {% else %}
                        <form>
                            <input type="button" class="btn btn-danger" id="block_button" value="Блокировать">
                            <div style="display: none" id="content_block">
                                <hr>
                                <h5>Заблокировать пользователя {{ profile }}</h5>
                                <hr>
                                <div class="row" style="margin-top: 20px">
                                    <div class="col">
                                        <div class="form-group">
                                            <label><strong>Причина блокировки</strong></label>
                                            <textarea class="form-control" cols="5" name="reason" required></textarea>
                                            <label><strong>Дата разблокировки</strong></label>
                                            <input type="datetime-local" name="date" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <input type="submit" class="btn btn-danger" value="Блокировать">
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("#block_button").click(function () {
                $("#content_block").show();
                $("#block_button").hide();
            });
        });
    </script>
{% endblock %}