{% extends 'website/base/base_page.html' %}
{% block title %}
    Страница не найдена
{% endblock %}
{% block style %}
    <style>
        .container {
            height: 50%;
            background-color: #ffffff;
        }
    </style>
{% endblock %}
{% block content %}
    <br><br>
    <div style="text-align: center;" class="div-error"><h3>Страница не найдена <img
            src="https://i.pinimg.com/originals/82/6c/3d/826c3d36e612e2474d32dba382a47495.png" style="max-width: 30%"></h3></div>
{% endblock %}