{% extends 'website/base/base_page.html' %}
{% block title %}Восстановить пароль{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Восстановление пароля</h5>
                        <div style="color: red">
                            {% if form.errors %}
                                <p>Пароли не совпадают</p>
                            {% endif %}
                        </div>
                        {% if validlink %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <label for="id_new_password1">Новый пароль:</label>
                                <input class="form-control" type="password" name="new_password1" required
                                       id="id_new_password1"/>
                                <label for="id_new_password2">Подтвердите пароль:</label>
                                <input class="form-control" type="password" name="new_password2" required
                                       id="id_new_password2"/>
                                <input class="btn btn-success" style="margin-top: 15px" type="submit"
                                       value="Сменить мой пароль"/>
                            </form>
                        {% else %}
                            <h1 style="color: red">Не удалось обновить пароль.</h1>
                            <p style="color: red">Ссылка на сброс пароля недействительна. Возможно, она уже была
                                использована. Попробуйте
                                получить ссылку
                                снова.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}