{% extends 'website/base/base_page.html' %}
{% block title %}Восстановить пароль{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                    <h5 class="card-title text-center">Восстановление пароля</h5>
                        <form action="" method="post">{% csrf_token %}
                            <div style="color: red">
                                {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                            </div>
                            <label for="id_email">{{ form.email.label_tag }}</label>
                            <input class="form-control" type="email" name="email" maxlength="254" required
                                   id="id_email"/>
                            <input type="submit" class="btn btn-success" style="margin-top: 15px"
                                   value="Восстановить"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}