{% extends 'website/base/base_page.html' %}
{% block title %}
    Запросы на обновление статуса
{% endblock %}
{% block content %}
    <br><br>
    <h3> Запросы на обновление статуса</h3>
    <hr>
    {% if rups %}
        {% for rup in rups %}
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-8">
                        <p>Заявка на обновление статуса пользователя <a
                                href="{% url "website:profile" rup.user.id %}"> {{ rup.user }}</a> с рейтингом</p>
                    </div>
                    <div class="col-md-4">
                        <a href="#">Принять</a>
                        <a href="#">Отклонить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>На данный момент заявок нет</p>
    {% endif %}
    <br><br>
{% endblock %}