{% extends 'website/base/base_page.html' %}
{% block title %}
    Запросы на публикацию определений
{% endblock %}
{% block content %}
    <br><br>
    <h3>Запросы на публикацию определений</h3>
    <hr>
    {% if rfps %}
        {% for rfp in rfps %}
            <a href="{% url "website:request_for_definition" rfp.id %}" style="text-decoration: none">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-9">
                            {{ forloop.counter }})
                            &nbsp {{ rfp.definition }}
                        </div>
                        <div class="col-md-3" style="text-align: right; font-size: 18px">
                            <p><i>{{ rfp.date_creation }}</i></p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>На данный момент заявок нет</p>
    {% endif %}
    <br><br>
{% endblock %}