body {
    background: black;
}

.form-control:focus {
    border-color: #000000;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.33), 0 0 8px rgba(0, 0, 0, 0.6);
}

#navbarmenu .horizontal {
    display: inline;
    border-left: 2px solid;
    padding-left: 0.3em;
    height: 45px;
}

#navbarmenu .first {
    border-left: none;
    padding-left: 0;
}

.container {
    margin-top: 212px;
    background: snow;
}

#navbarmenu {
    font-size: 25px;
}

.favorites {
    color: rgba(255, 0, 0, 0.5);
    font-size: 40px;
}

.favorites:hover {
    color: #ff0000;
}

.favoritesadded {
    color: #ff0000;
    font-size: 40px;
}

.favoritesadded:hover {
    color: rgba(255, 0, 0, 0.5);
}

.jumbotron {
    padding: 0.5rem 0.7rem;
}

.regfield {
    margin-bottom: 20px;
    margin-top: 20px;
}

.myerrors {
    color: red;
}

.reghint {
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 10px;
}

.reghint > ul {
    padding-inline-start: 20px;
    margin-bottom: 5px;
}

.myerrors > ul {
    list-style-type: none;
}

img.profile_thumbnail {
    display: block;
    max-width: 140px;
    height: 140px;
}

.upload-btn-wrapper input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
}