{% extends 'website/base/base_page.html' %}
{% block title %}
    Создание определения
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'website:create_definition' %}" enctype="multipart/form-data">
        {% csrf_token %}
        Название<input type="text" name="name" class="form-control"><br>
        Описание<textarea name="description" class="form-control"></textarea><br>
        Ссылка на первоисточник<input name="source" class="form-control" type="text"><br>
        Примеры:<br>
        <div class="row example">
            <div class="form-group col-md-7">
                <label>Пример 1</label>
                <textarea name="examples" class="form-control"></textarea>
            </div>
            <div class="form-group col-md-2 form-check" style="margin-top: 50px">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="primary" value="0">Основной
                </label>
            </div>
            <div class="form-group col-md-3 " style="margin-top: 50px">
                <p class="btn btn-danger del_example">Удалить пример</p>
            </div>
        </div>
        <br>
        <a id="add_example" class="btn btn-outline-secondary">Добавить еще пример</a>
        <br>
        Прикрепить файлы к статье
        <div class="row file">
            <div class="form-group col-md-4">
                <label>Файл 1 </label><input class="form-control-file" type="file" name="upload_data">
            </div>
            <div class="form-group col-md-5">
                <label> Подпись к фотографии
                    <input name="header" class="form-control" type="text">
                </label>
            </div>
            <div class="form-group col-md-3" style="margin-top: 30px">
                <p class="btn btn-danger del_file">Удалить файл</p>
            </div>
        </div>

        <a id="add_file" class="btn btn-outline-secondary">Добавить еще файл</a>
        <br><br>
        <input class="btn btn-success" type="submit" value="Сохранить"/>
    </form>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("#add_example").click(function () {
                var count = $(".example").length;
                $(".example:last").after("<div class=\"row example\">\n" +
                    "            <div class=\"form-group col-md-7\">\n" +
                    "                <label>Пример " + (count + 1) + " </label><textarea name=\"examples\" class=\"form-control\"></textarea>\n" +
                    "            </div>\n" +
                    "            <div class=\"form-group col-md-2 form-check\" style=\"margin-top: 50px\">\n" +
                    "                <label class=\"form-check-label\">\n" +
                    "                    <input type=\"radio\" class=\"form-check-input\" name=\"primary\" value=\"" + count + "\">Основной\n" +
                    "                </label>\n" +
                    "            </div>\n" +
                    "            <div class=\"form-group col-md-3 \" style=\"margin-top: 50px\">\n" +
                    "                <p class=\"btn btn-danger del_example\">Удалить пример</p>\n" +
                    "            </div>\n" +
                    "        </div>");
            });
            $("#add_file").click(function () {
                var count = $(".file").length + 1;
                $(".file:last").after("<div class=\"row file\">\n" +
                    "            <div class=\"form-group col-md-4\">\n" +
                    "                <label>Файл " + count + "</label><input class=\"form-control-file\" type=\"file\" name=\"upload_data\">\n" +
                    "            </div>\n" +
                    "            <div class=\"form-group col-md-5\">\n" +
                    "                <label> Подпись к фотографии\n" +
                    "                    <input name=\"header\" class=\"form-control\" type=\"text\">\n" +
                    "                </label>\n" +
                    "            </div>\n" +
                    "            <div class=\"form-group col-md-3\" style=\"margin-top: 30px\">\n" +
                    "                <p class=\"btn btn-danger del_file\">Удалить файл</p>\n" +
                    "            </div>\n" +
                    "        </div>");
            });
            $('.container').on('click', '.del_example', function () {
                if ($(".example").length !== 1) {
                    $(this).parent().parent().remove();
                    $(".example").each(function (i) {
                        $(this).find(".form-check").children().children().val(i);
                        $(this).find(".col-md-7").children().first().text("Пример " + (i + 1));
                    });
                }
            });

            $('.container').on('click', '.del_file', function () {
                if ($(".file").length !== 1) {
                    $(this).parent().parent().remove();
                    $(".file").each(function (i) {
                        $(this).find(".col-md-4").children().first().text("Файл " + (i + 1));
                    });
                }
            });
        });
    </script>
{% endblock %}