{% extends 'website/base/base_page.html' %}
{% block title %}
    Определение {{ def.term }}
{% endblock %}
{% block content %}
    <div style="margin: 30px">
        <br>
        <div class="row">
            <div class="col-md-5">
                <a href={% url 'website:term' definition.term.id %}><h3>{{ definition.term.name }}</h3></a>
                <p>Статус статьи - {% if definition.is_publish %}
                    <i style="color: green">Опубликовано</i>
                {% else %}
                    {% if  definition.get_cur_status == 1 %}
                        <i style="color: #0a1cff">На рассмотрении </i>
                    {% elif definition.get_cur_status == 2 %}
                        <i style="color: #ff8820">Отклонен </i>
                        <br><br>
                        <a href="{% url "website:edit_definition" definition.id %}"
                           class="btn btn-light" style="background: #f9870b; color: white">Исправить</a>
                    {% elif definition.get_cur_status == 4 %}
                        <i style="color: #ff1118">Отклонен навсегда </i>
                    {% endif %}
                {% endif %}</p>
            </div>
            <div class="col-md-6">
                <h5>Автор статьи - {{ definition.author.user.last_name }} {{ definition.author.user.first_name }}</h5>
                {% if definition.is_publish %}
                    <p><i>Дата публикации - {{ definition.date }}</i></p>
                {% endif %}
            </div>
            <div class="col-md-1">
                <a href="#" id="favorites" data-toggle="tooltip" data-placement="bottom"
                   title="Добавить в избранное"><i class=" fa fa-heart"></i></a>
            </div>
        </div>
        <h3>Описание</h3>
        <p>{{ definition.description }}</p>
        <h4>Примеры</h4>
        {% for example in definition.examples.all %}
            <div class="jumbotron" {% if example.primary %} style="background: #fabd94" {% endif %}>
                <p>{{ forloop.counter }}) &nbsp {{ example.example }}</p>
            </div>
        {% endfor %}
        {% for file in definition.files.all %}
            <div class="col-sm-5">
                <img class="img-fluid" id="{{ file.id }}" src="{{ file.image.url }}"
                     alt="{{ file.header_for_file }}">
            </div>
        {% endfor %}
        <h4>Источник</h4>
        <a href="{{ definition.source }}">{{ definition.source }}</a>
        <hr>
        <button class="btn btn-success"><i class="fa fa-thumbs-up">&nbsp{{ definition.get_likes }}</i></button>
        <button class="btn btn-danger" style="margin-left: 5px"><i
                class="fa fa-thumbs-down">&nbsp{{ definition.get_dislikes }}</i>
        </button>
        <br>
        <br>
    </div>
{% endblock %}