{% extends 'website/base/base_page.html' %}
{% block title %}Активация аккаунта{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
{#            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="margin-bottom: 30px">#}
{#                <h2 class="card-title text-center">Активация</h2>#}
{#            </div>#}
            <div class="col-sm-9 mx-auto text-center">
                <h5>Добро пожаловать!</h5>
                <h5>Ваша учетная запись активирована. <a href="{% url 'website:activate_user' %}">Нажмите, чтобы
                    продолжить.</a></h5>
            </div>
        </div>
    </div>
{% endblock %}